:root {
    --background-color-purple: #8055FF;
    --background-color-white: #FFFFFF;
    --background-color-blue: #459DF5;
    --background-color-day-light-blue: #BAD8F5;
}

.searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-content: space-between;
    width: 22rem;
    height: 12rem;
    border-radius: 0.3125rem;
    border: 0.0625rem dashed var(--background-color-purple);
    box-sizing: border-box;
}

.searchbar__input {
    box-sizing: border-box;
    width: 13.75rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid var(--background-color-blue);
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1rem;
    padding: 0.5rem 0.25rem 0.5rem 2rem;
    background-image: url(image/search.svg);
    background-repeat: no-repeat;
    background-position: 0.6rem;
    background-size: auto 40%;
}

.searchbar__button {
    border: none;
    position: absolute;
    right: 0.1rem;
    top: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
}

.searchbar__button_color-white {
    background-color: var(--background-color-white)
}

.searchbar__icon {
    border: none;
    position: absolute;
    right: 0.4rem;
    top: 0.2rem;
}

.searchbar__icon-position {
    position: relative;
}

.searchbar__icon_size-small {
    width: 1rem;
    height: 1rem;
}

input::-webkit-input-placeholder {
    color: var(--background-color-day-light-blue);
}
